---
layout: default
title: Home
---
<section class="section-header">
    <div class="bg-primary text-white topheader">
        <div class="overlay"></div>
    </div>
    <div class="caption text-white">
        <span class="arab">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</span>
        <p>Assalamu'alaikum</p>
        <span>Warrahmatullahi Wabarakatuh</span>
    </div>
</section>
{% include profile.html %}
<div class="container-fluid con-body">
    {% include section/section_1.html %}
    {% include section/section_2.html %}
    {% include section/section_footer.html %}
    <!-- {% include section/section_3.html %} -->
</div>