<div class="profile-image" style="background-image:url('/assets/img/profile_photo.jpg')">&nbsp;</div>
<div class="profile-spacer">
    <div class="profile-add">
        <h5>Hi! Let me introduce myself</h5>
        <h2 class="position-relative"><span>I'm</span> Muhammad Fahmy Abdul Hakim</h2>
        <h5><span class="fw-bold">Backend Engineer</span> in Cimahi, West Java, Indonesia</h5>
    </div>
    <div class="mt-2" style="color:#fff;">
        <div class="container-fluid">
            <div class="social-group">
                <a href="mailto:firstfahmyabdul@gmail.com" target="blank">
                    <div class="social-button"><i class="bi bi-envelope-fill"></i></div>
                </a>
                <a href="https://t.me/fahmyabdul" target="blank">
                    <div class="social-button"><i class="bi bi-telegram"></i></div>
                </a>
                <a href="https://facebook.com/fahmyabdul21" target="blank">
                    <div class="social-button"><i class="bi bi-facebook"></i></div>
                </a>
                <a href="https://instagram.com/fahmyabdul.h" target="blank">
                    <div class="social-button"><i class="bi bi-instagram"></i></div>
                </a>
                <a href="https://linkedin.com/in/fahmyabdul" target="blank">
                    <div class="social-button"><i class="bi bi-linkedin"></i></div>
                </a>
                <a href="https://github.com/fahmyabdul" target="blank">
                    <div class="social-button"><i class="bi bi-github"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>