
.section-1{
    background-color:#1ea4d9;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-top: solid 8px #1780a9;
    border-bottom: solid 8px #e5e5e5;
    padding-top:30px; padding-bottom:10px;
}
.section-1 .section-title{
    text-align: left;
}
.section-1 p{
    text-align: justify;
}
.section-1::after{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #1ea4d9; 
    -moz-transform: scale(.9999);
    position: relative;
    content: "";
    z-index: 3;
    top:61px;
}
.section-2{
    background-color: #fdfcf9;
    text-align: center;
    overflow: hidden;
}
.section-2 .section-title{
    text-align: left;
}
.section-2 p{
    text-align: justify;
}
.section-2 .head-lines{
    margin-bottom:55px;
}
.section-2 .head-lines::after{
}
.section-2::before{
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #e5e5e5; 
    -moz-transform: scale(.9999);
    position: relative;
    content: "";
    z-index: 2;
    top:32px;
}
.section-2 .section-title{
    color:#1ea4d9;
}

#skills .sketch {
    bottom:0; 
    left:5%; 
    position: absolute;
}
@media screen and (min-width: 576px) {
    #skills .sketch {
        bottom:0; 
        left:-120px; 
        position: absolute;
    }
}
@media screen and (min-width: 768px) {
    #skills .sketch {
        bottom:0; 
        left:-220px; 
        position: absolute;
    }
}
@media screen and (min-width: 992px) {
    #skills .sketch {
        bottom:0; 
        left:-120px; 
        position: absolute;
    }
}
@media screen and (min-width: 1200px) {
    #skills .sketch {
        bottom:0; 
        left:2%; 
        position: absolute;
    }
}
@media screen and (min-width: 1400px) {
    #skills .sketch {
        bottom:0; 
        left:5%; 
        position: absolute;
    }
}
// .section-2::after{
//     width: 0;
//     height: 0;
//     border-left: 30px solid transparent;
//     border-right: 30px solid transparent;
//     border-top: 30px solid #ffffff; 
//     -moz-transform: scale(.9999);
//     position: relative;
//     content: "";
//     z-index: 3;
//     top: 51px;
// }
.section-4{
    border-top: solid 8px #191919;
    font-size: 16px;
    text-align: center;
}
.section-4 p{
    text-align: justify;
}
.section-4 h1{
    text-align: center;
}
.section-4 .head-lines::after{
    background:#1ea4d9;
}
.section-4::before{
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #191919; 
    transform: scale(.9999);
    -moz-transform: scale(.9999);
    position: relative;
    content: "";
    z-index: 2;
    top: 32px;
}
.section-4 .mail {
    color: #fff;
    text-decoration: none;
}
.section-footer{
    padding:10px; 
    background:#191919; 
    color:#fff; 
    text-align:center;
}