<div class="section-4" id="contact">
    <div class="container mt-4 pb-5" style="padding-top:20px; padding-bottom:20px;">
        <div class="section-title"><h1>Contacts</h1></div>
            <div class="mt-4 pb-2" style="color:#fff;">
                <div class="container-fluid">
                    <div>
                        <a href="mailto:firstfahmyabdul@gmail.com" target="blank">
                            <div class="social-button" style="width:80px; margin-right:5px;">E-mail</div>
                        </a>
                        <a href="https://facebook.com/fahmyabdul21" target="blank">
                            <div class="social-button" style="margin-right:5px;">f</div>
                        </a>
                        <a href="https://www.instagram.com/fahmyabdul.h" target="blank">
                            <div class="social-button" style="margin-right:5px;">ig</div>
                        </a>
                        <a href="https://linkedin.com/in/fahmyabdul" target="blank">
                            <div class="social-button" style="margin-right:5px; width:100px;">linkedin</div>
                        </a>
                        <a href="https://github.com/fahmyabdul" target="blank">
                            <div class="social-button" style="width:80px;">github</div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>