<div class="section-2" id="experience">
    <div class="mt-4 mb-4 container">
        <div class="section-title"><h1>Works</h1></div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-4 mb-4">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2 text-start">
                            <h4 class="card-title fw-semibold">Volume Compare</h5>
                            <h5 class="fw-normal">Telkomsel</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2 text-start">
                            <h4 class="card-title fw-semibold">Roaming Recon</h5>
                            <h5 class="fw-normal">Telkomsel</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2 text-start">
                            <h4 class="card-title fw-semibold">Let it Flo</h5>
                            <h5 class="fw-normal">JMTO</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2 text-start">
                            <h4 class="card-title fw-semibold">Centralize Settlement and Reconciliation Project </h5>
                            <h5 class="fw-normal">ASDP Indonesia Ferry</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5" id="skills">
        <div class="mt-4 mb-4 container">
            <div class="section-title mb-4"><h1>Skills</h1></div>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">Programming Language</span> – GO Language, Python, Perl, PHP, Shell Scripting</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">Relational Database</span> – PostgreSQL, MySQL, Oracle</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">NoSQL Database</span> – Redis, MongoDB, KyotoCabinet, GoLevelDB, BerkleyDB, BadgerDB</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">Web Development</span> – HTML, CSS, Gin Gonic, Gorilla Mux, Jekyll</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">DevOps Tools</span> – Gitlab CI/CD, Jenkins</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">Messaging</span> – Apache Kafka</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<span class="fw-semibold">Etc</span> – Git, Docker, Kubernetes, Openshift, Kong</p>
        </div>
    </div>
</div>