<div class="section-2" id="experience">
    <div class="mt-5 mb-5 pb-1 container">
        <div class="row mt-4 mb-4">
            <div class="col-md-9 col-xs-12 align-self-center">
                <div class="section-title mb-4"><h1>Works</h1></div>
                <div class="row">
                    <div class="col-sm-4 mb-4">
                        <a href="#">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">SOKI</h4>
                                        <h5 class="fw-normal">ASKITEL (as Operational)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <a href="/works/tsl-volcomp.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Volume Compare</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <a href="#">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Roaming Recon</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <a href="#">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Let it Flo</h4>
                                        <h5 class="fw-normal">JMTO</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <a href="#">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h5 class="card-title fw-semibold">Centralize Settlement and Reconciliation Project </h5>
                                        <h5 class="fw-normal">ASDP Indonesia Ferry (as DevOps)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <a href="#">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Roaming SIRO</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-end mb-4" style="height: 10px;">
                        <a href="#" class="button-more">View All&nbsp;<span>➜</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-sm-block">
                <img src="/assets/img/fan-sketch-2b.png" alt="..." style="position: relative; max-width:530px; filter:grayscale(100%);" class="mt-xxl-2 ms-xxl-4">
            </div>
        </div>
    </div>
    <div class="mt-5 pt-4 pb-4" id="skills" style="background-color: #f7f6ed;">
        <div class="mt-5 mb-4 container">
            <div class="row">
                <div class="col-md-4 d-none d-sm-block text-center">
                    <div class="me-xxl-1 me-xl-5" style="bottom:0; left:5%; position: absolute;">
                        <div class="ms-xxl-5 mb-xl-5 mb-xxl-0"><img src="/assets/img/uraa-1.png" alt="..." style="max-width:300px;"></div>
                        <img class="pe-xl-3 pe-xxl-0 ms-xl-0 ms-xxl-5" src="/assets/img/gus-sketch-1.png" alt="..." style="max-width:500px; padding-bottom:0;">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 s-sm-4 align-self-center ps-xl-5 ps-xxl-0" style="z-index: 100;">
                    <div class="section-title mb-4"><h1>Skills</h1></div>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">Programming Language</span> – GO Language, Python, Perl, PHP, Shell Scripting</p>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">Relational Database</span> – PostgreSQL, MySQL, Oracle</p>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">NoSQL Database</span> – Redis, MongoDB, KyotoCabinet, GoLevelDB, BerkleyDB, BadgerDB</p>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">Web Development</span> – HTML, CSS, Gin Gonic, Gorilla Mux, Jekyll</p>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">DevOps Tools</span> – Gitlab CI/CD, Jenkins</p>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">Messaging</span> – Apache Kafka</p>
                    <p class="lead"><span style="color: #1ea4d9; margin-right:15px;">❀</span><span class="fw-semibold">Etc</span> – Git, Docker, Kubernetes, Openshift, Kong</p>
                </div>
            </div>
        </div>
    </div>
</div>