<div class="section-2" id="experience">
    <div class="mt-5 mb-5 pb-1 container">
        <div class="row mt-4 mb-4">
            <div class="col-md-9 col-xs-12 align-self-center">
                <div class="section-title mb-4"><h1>Works</h1></div>
                <div class="row">
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/askitel/soki.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">SOKI Generik</h4>
                                        <h5 class="fw-normal">ASKITEL (as Operational)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/tsl/volcomp.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Volume Compare</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/tsl/roaming-recon.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Roaming Recon</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/jmto/let-it-flo.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Let it Flo</h4>
                                        <h5 class="fw-normal">JMTO</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/asdp/csrp.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h5 class="card-title fw-semibold d-sm-block">Centralize Settlement and Reconciliation Project </h5>
                                        <h5 class="fw-normal">ASDP Indonesia Ferry (as DevOps)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/tsl/roaming-siro.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Roaming SIRO</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-end mb-4" style="height: 10px;">
                        <a href="#" class="button-more">View All&nbsp;<span>➜</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-sm-block">
                <img src="/assets/img/fan-sketch-2b.png" alt="..." style="position: relative; max-width:530px; filter:grayscale(100%);" class="mt-xxl-2 ms-xxl-4">
            </div>
        </div>
    </div>
    <div class="mt-5 pt-4 pb-4" id="skills" style="background-color: #f7f6ed;">
        <div class="mt-5 mb-4 container">
            <div class="row">
                <div class="col-md-4 d-none d-sm-block text-center">
                    <div class="me-xxl-1 me-xl-5 sketch">
                        <div class="ms-xxl-5 mb-xl-5 mb-xxl-0"><img src="/assets/img/uraa-1.png" alt="..." style="max-width:300px;"></div>
                        <img class="pe-xl-3 pe-xxl-0 ms-xl-0 ms-xxl-5" src="/assets/img/gus-sketch-1.png" alt="..." style="max-width:500px; padding-bottom:0;">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 s-sm-4 align-self-center ps-xl-5 ps-xxl-0" style="z-index: 100;">
                    <div class="section-title mb-4"><h1>Skills</h1></div>
                    <table class="lead text-start">
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">Programming Language</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">GO Language, Python, Perl, PHP, Shell Scripting</td>
                        </tr>
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">Relational Database</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">PostgreSQL, MySQL, Oracle</td>
                        </tr>
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">NoSQL Database</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">Redis, MongoDB, KyotoCabinet, GoLevelDB, BerkleyDB, BadgerDB</td>
                        </tr>
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">Web Development</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">HTML, CSS, Gin Gonic, Gorilla Mux, Jekyll</td>
                        </tr>
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">DevOps Tools</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">Gitlab CI/CD, Jenkins</td>
                        </tr>
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">Messaging</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">Apache Kafka</td>
                        </tr>
                        <tr>
                            <td class="align-top pe-2" style="color: #1ea4d9; width:4%;">❀</td>
                            <td class="fw-semibold align-top pe-2" style="width:23%;">Etc</td>
                            <td class="align-top" style="width:auto; max-width: 66%;">Git, Docker, Kubernetes, Openshift, Kong</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>