<div class="section-1" id="about">
    <div class="mt-5 mb-5 container">
        <div class="section-title"><h1>Personal Summary</h1></div>
        <p class="lead mt-3">I'm a <b>Backend Engineer</b> with multiple experience in developing backend applications
            using <b>Golang</b>, <b>Python</b>, or <b>Perl</b>, with most of the focus on Text File Processing &
            REST API applications. Has worked on multiple <b>SOE projects</b>
            including from <b>Telkomsel</b>, <b>JMTO</b>, and <b>ASDP Indonesia Ferry</b>. Also has experience as a <b>DevOps</b> using <b>Gitlab CI/CD</b>, and containerization using <b>Kubernetes/Openshift</b>. Able to
            learn new software development tools, obtained from the experience
            that I got at my current work place.</p>
    </div>
</div>