<div class="section-2" id="experience">
    <div class="mt-5 mb-5 pb-1 container">
        <div class="row mt-4 mb-4">
            <div class="col-md-9 col-xs-12 align-self-center">
                <div class="section-title mb-4"><h1>Experience</h1></div>
                <div>
                    {% include section/works_pre_professional.html %}
                    <div class="mt-4"></div>
                    {% include section/works_swamedia.html %}
                    <div class="mt-4"></div>
                    {% include section/works_viska.html %}
                    <!-- <div class="text-end pt-0 mt-0 mb-4" style="height: 10px;">
                        <a href="#" class="button-more">View All&nbsp;<span>➜</span></a>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 d-none d-sm-block">
                <img src="/assets/img/fan-sketch-2b.png" alt="..." style="position: relative; max-width:530px; filter:grayscale(100%);" class="mt-xxl-2 ms-xxl-4">
            </div>
        </div>
    </div>
</div>