<div class="section-2" id="experience">
    <div class="mt-4 mb-4 container">
        <div class="section-title"><h1>Works</h1></div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-3">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2  text-start">
                            <h5 class="card-title fw-bold">Volume Compare</h5>
                            <h6 class="">Telkomsel</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2  text-start">
                            <h5 class="card-title fw-bold">Roaming Recon</h5>
                            <h6 class="">Telkomsel</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2  text-start">
                            <h5 class="card-title fw-bold">Let it Flo</h5>
                            <h6 class="">JMTO</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 bg-dark text-white">
                    <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay image-blur">
                        <div class="position-absolute bottom-0 mb-2  text-start">
                            <h5 class="card-title fw-bold">Centralize Settlement and Reconciliation Project </h5>
                            <h6 class="">ASDP Indonesia Ferry</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5" id="skills">
        <div class="mt-4 mb-4 container">
            <div class="section-title mb-4"><h1>Skills</h1></div>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>Programming Language</b> – GO Language, Python, Perl, PHP, Shell Scripting</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>Relational Database</b> – PostgreSQL, MySQL, Oracle</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>NoSQL Database</b> – Redis, MongoDB, KyotoCabinet, GoLevelDB, BerkleyDB, BadgerDB</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>Web Development</b> – HTML, CSS, Gin Gonic, Gorilla Mux, Jekyll</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>DevOps Tools</b> – Gitlab CI/CD, Jenkins</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>Messaging</b> – Apache Kafka</p>
            <p class="lead"><span style="color: #0e83cd;">❀</span>&nbsp;&nbsp;<b>Etc</b> – Git, Docker, Kubernetes, Openshift, Kong</p>
        </div>
    </div>
</div>