<div class="section-1" id="about">
    <div class="mt-5 mb-5 container">
        <div class="section-title"><h1>Personal Summary</h1></div>
        <p class="lead mt-3">I'm a <span class="fw-bold">Backend Engineer</span> with multiple experience in developing backend applications
            using <span class="fw-bold">Golang</span>, <span class="fw-bold">Python</span>, or <span class="fw-bold">Perl</span>, with most of the focus on Text File Processing &
            REST API applications. Has worked on multiple <span class="fw-bold">SOE projects</span>
            including from <span class="fw-bold">Telkomsel</span>, <span class="fw-bold">JMTO</span>, and <span class="fw-bold">ASDP Indonesia Ferry</span>. Also has experience as a <span class="fw-bold">DevOps</span> using <span class="fw-bold">Gitlab CI/CD</span>, and containerization using <span class="fw-bold">Kubernetes/Openshift</span>. Able to
            learn new software development tools, obtained from the experience
            that I got at my current work place.</p>
    </div>
</div>