<div class="section-2" id="experience">
    <div class="mt-5 mb-5 pb-1 container">
        <div class="row mt-4 mb-4">
            <div class="col-md-9 col-xs-12 align-self-center">
                <div class="section-title mb-4"><h1>Works</h1></div>
                <div class="row">
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/askitel/soki.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">SOKI Generik</h4>
                                        <h5 class="fw-normal">ASKITEL (as Operational)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/tsl/volcomp.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Volume Compare</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/tsl/roaming-recon.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Roaming Recon</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/jmto/let-it-flo.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Let it Flo</h4>
                                        <h5 class="fw-normal">JMTO</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/asdp/csrp.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h5 class="card-title fw-semibold d-sm-block">Centralize Settlement and Reconciliation Project </h5>
                                        <h5 class="fw-normal">ASDP Indonesia Ferry (as DevOps)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <a href="/works/tsl/roaming-siro.html">
                            <div class="card border-0 bg-dark text-white">
                                <img src="/assets/img/project-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay image-blur">
                                    <div class="position-absolute bottom-0 mb-2 text-start">
                                        <h4 class="card-title fw-semibold">Roaming SIRO</h4>
                                        <h5 class="fw-normal">Telkomsel</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-end mb-4" style="height: 10px;">
                        <a href="#" class="button-more">View All&nbsp;<span>➜</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-sm-block">
                <img src="/assets/img/fan-sketch-2b.png" alt="..." style="position: relative; max-width:530px; filter:grayscale(100%);" class="mt-xxl-2 ms-xxl-4">
            </div>
        </div>
    </div>
</div>