
<div class="mt-0 pt-4 pb-4" id="skills" style="background-color: #f7f6ed;">
    <div class="mt-5 mb-4 container">
        <div class="row">
            <div class="col-md-4 d-none d-sm-block text-center">
                <div class="me-xxl-1 me-xl-5 sketch">
                    <div class="ms-xxl-5 mb-xl-5 mb-xxl-0"><img src="/assets/img/uraa-1.png" alt="..." style="max-width:400px;"></div>
                    <img class="pe-xl-3 pe-xxl-0 ms-xl-0 ms-xxl-3" src="/assets/img/gus-sketch-1.png" alt="..." style="max-width:500px; padding-bottom:0;">
                </div>
            </div>
            <div class="col-md-8 col-xs-12 s-sm-4 ps-xl-5 ps-xxl-0" style="z-index: 100;">
                <div class="section-title mb-4"><h1>Skills</h1></div>
                <table class="lead text-start">
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">Programming Language</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">Go Language</span>&nbsp;<span class="badge bg-secondary">Python</span>&nbsp;<span class="badge bg-secondary">Perl</span>&nbsp;<span class="badge bg-secondary">PHP</span>&nbsp;<span class="badge bg-secondary">Shell Scripting</span></td>
                    </tr>
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">Relational Database</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">PostgreSQL</span>&nbsp;<span class="badge bg-secondary">MySQL</span>&nbsp;<span class="badge bg-secondary">Oracle</span></td>
                    </tr>
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">NoSQL Database</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">Redis</span>&nbsp;<span class="badge bg-secondary">MongoDB</span>&nbsp;<span class="badge bg-secondary">KyotoCabinet</span>&nbsp;<span class="badge bg-secondary">GoLevelDB</span>&nbsp;<span class="badge bg-secondary">BerkleyDB</span>&nbsp;<span class="badge bg-secondary">BadgerDB</span></td>
                    </tr>
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">Web Development</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">HTML</span>&nbsp;<span class="badge bg-secondary">CSS</span>&nbsp;<span class="badge bg-secondary">Gin Gonic</span>&nbsp;<span class="badge bg-secondary">Gorilla Mux</span>&nbsp;<span class="badge bg-secondary">Jekyll</span></td>
                    </tr>
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">DevOps Tools</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">Gitlab CI/CD</span>&nbsp;<span class="badge bg-secondary">Jenkins</span></td>
                    </tr>
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">Messaging</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">Apache Kafka</span></td>
                    </tr>
                    <tr>
                        <td class="p-1 ps-0 pe-0" style="height:20px; max-height: 30px;"><div class="me-2" style="width:10px; height: 100%; background-color: #1ea4d9;">&nbsp;</div></td>
                        <td class="p-1 ps-0 pe-3 fw-semibold align-middle" style="width:40px; max-width:20%;">Etc</td>
                        <td class="p-1 ps-0 pe-0 align-top" style="width:auto; max-width: 80%;"><span class="badge bg-secondary">Git</span>&nbsp<span class="badge bg-secondary">Docker</span>&nbsp;<span class="badge bg-secondary">Kubernetes</span>&nbsp;<span class="badge bg-secondary">Openshift</span>&nbsp;<span class="badge bg-secondary">Kong</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>