<div class="mb-4 text-start"><h3><a href="https://swamedia.co.id" target="_blank" class="link-dark" style="text-decoration: none;">2016 - 2023 &bull; PT. Swamedia Informatika</a></h3></div>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="/works/swamedia/askitel/soki.html">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">SOKI Generik</h4>
                        <h5 class="fw-normal">ASKITEL</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="/works/swamedia/tsl/volcomp.html">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">Volume Compare</h4>
                        <h5 class="fw-normal">Telkomsel</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="/works/swamedia/tsl/roaming-recon.html">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">Roaming Recon</h4>
                        <h5 class="fw-normal">Telkomsel</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="/works/swamedia/jmto/let-it-flo.html">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">Let it Flo</h4>
                        <h5 class="fw-normal">JMTO</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="/works/swamedia/asdp/csrp.html">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h5 class="card-title fw-semibold d-sm-block">Centralize Settlement and Reconciliation Project </h5>
                        <h5 class="fw-normal">ASDP Indonesia Ferry</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="/works/swamedia/tsl/roaming-siro.html">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">Roaming SIRO</h4>
                        <h5 class="fw-normal">Telkomsel</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>