<div class="mb-4 text-start"><h3><a href="#" target="_blank" class="link-dark" style="text-decoration: none;">2014 - 2016 &bull; Pre-Professional</a></h3></div>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="#">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">Web Inventory Laboratorium</h4>
                        <h5 class="fw-normal">Sistec</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4 mb-4">
        <a href="#">
            <div class="card border-0 bg-dark text-white">
                <img src="/assets/img/placeholder_1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay image-blur">
                    <div class="position-absolute bottom-0 mb-2 text-start">
                        <h4 class="card-title fw-semibold">Web Rekap Absensi Sidik Jari</h4>
                        <h5 class="fw-normal">Sistec</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>